// Font sizes
$font-sizes: (
    "label3": 0.625rem,
    'label2':0.6875rem,
    "label1": 0.75rem,
    "paragraph2": 0.875rem,
    "paragraph1": 1rem,
    "sub-heading3": 1.25rem,
    "sub-heading2": 1.75rem,
    "sub-heading1": 2rem,
    "h3": 2.75rem,
    "h2": 3.25rem,
    "h1": 4rem,
);

// Font weights
$font-weights: (
   
    "normal": 400,
    "medium": 500,
    "semibold": 600,
    "bold": 700,
);

// Mixin for typography
@mixin typography($size, $weight) {
    font-size: map-get($font-sizes, $size);
    font-weight: map-get($font-weights, $weight);
}

// Usage example
// h1 {
//     @include typography("h1", "bold");
// }
