:root {
    --primary-color: 85, 112, 241;
    --secondary-color: 255, 204, 145;
    --black-color: 28, 29, 34;
    --red-color: 204, 95, 95;
    --green-color: 81, 156, 102;
    --white-color: 255, 255, 255;
    --yellow-color: 255, 255, 0;
    --orange-color: 255, 131, 0;
    
    --radius-xs: 4px;
    --radius-sm: 6px;
    --radius-md: 8px;
    --radius-lg: 12px;
    --radius-xl: 16px;
    --radius-2xl: 20px;
    
    --spacing-xs: 4px;
    --spacing-sm: 8px;
    --spacing-md: 12px;
    --spacing-lg: 16px;
    --spacing-xl: 20px;
    --spacing-2xl: 24px;
    --spacing-3xl: 32px;
    
    --font-xs: 11px;
    --font-sm: 12px;
    --font-base: 14px;
    --font-lg: 16px;
    --font-xl: 18px;
    --font-2xl: 20px;
}
$primary-color: var(--primary-color);
$secondary-color: var(--secondary-color);
$black-color: var(--black-color);
$red-color: var(--red-color);
$green-color: var(--green-color);
$white-color: var(--white-color);
$yellow-color: var(--yellow-color);
$orange-color: var(--orange-color);
